<hr>
<li><a id='selectAll'>Select All</a></li>
<li><a id='copy' onClick="alert('Please use Control C to copy contents');">Copy</a></li>
<li><a id='paste' onClick="alert('Please use Control V to paste contents');">Paste</a></li>
