<hr>
<li><a id='selectAll' data-l10n-id='ep_copy_paste_select_all.select_all'></a></li>
<li><a id='copy' data-l10n-id='ep_copy_paste_select_all.copy'></a></li>
<li><a id='cut' data-l10n-id='ep_copy_paste_select_all.cut'></a></li>
<li><a id='paste' data-l10n-id='ep_copy_paste_select_all.paste'></a></li>
<li><a id='findAndReplace' data-l10n-id='ep_copy_paste_select_all.find_and_replace'></a></li>
